{% extends 'base.html' %}
{% block title %}Logistic Web App Home{% endblock %}

{% block body %}
  <h1>Welcome!</h1>

  <h2>Navigation</h2>
  <form>
    <button type="submit" value="create_item" formaction="/create-item">Create a new item</button>
    <button type="submit" value="view_all" formaction="/inventory">View Inventory</button>
    <button type="submit" value="search_item" formaction="/search">Search for Item</button>
    <button type="submit" value="add_warehouse" formaction="/add-warehouse">Add a warehouse</button>
    <button type="submit" value="view_warehouse" formaction="/warehouse">View Warehouses</button>
    </form>

{% endblock %}